* {
    margin: 0;
    padding: 0;
}

body {
    background: url("image1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    text-transform: uppercase;
    width: 40%;
    text-align: center;
    margin-top: 5%;
    color: white;
}

.quotes {
    width: 50%;
    margin-top: 2%;
    height: 50px;
    padding: 2%;
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    background: rgba(255, 255, 255, .2);
}

button {
    outline: none;
    margin-top: 2%;
    padding: 0.5% 1%;
    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 650px) {
    .heading {
        text-transform: uppercase;
        width: 80%;
        text-align: center;
        margin-top: 10%;
        color: white;
    }
    .quotes {
        width: 70%;
        margin-top: 5%;
        height: 80px;
        padding: 4%;
        font-size: 1em;
        font-family: sans-serif;
        text-align: center;
        background: rgba(255, 255, 255, .2);
    }
    button {
        outline: none;
        margin-top: 4%;
        padding: 0.5% 1%;
        font-size: 1.1em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}